<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.enjoylearning.event.mapper.THotelOrderMapper">
	<resultMap id="BaseResultMap" type="com.enjoylearning.event.entity.THotelOrder">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="ucode" jdbcType="VARCHAR" property="ucode" />
		<result column="hcode" jdbcType="VARCHAR" property="hcode" />
		<result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, ucode, hcode, createtime
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_hotel_order
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_hotel_order
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.enjoylearning.event.entity.THotelOrder">
		insert into t_hotel_order (id, ucode, hcode,
		createtime)
		values (#{id,jdbcType=INTEGER}, #{ucode,jdbcType=VARCHAR}, #{hcode,jdbcType=VARCHAR},
		#{createtime,jdbcType=TIMESTAMP})
	</insert>
	<insert id="insertSelective" parameterType="com.enjoylearning.event.entity.THotelOrder">
		insert into t_hotel_order
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="ucode != null">
				ucode,
			</if>
			<if test="hcode != null">
				hcode,
			</if>
			<if test="createtime != null">
				createtime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="ucode != null">
				#{ucode,jdbcType=VARCHAR},
			</if>
			<if test="hcode != null">
				#{hcode,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				#{createtime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.enjoylearning.event.entity.THotelOrder">
		update t_hotel_order
		<set>
			<if test="ucode != null">
				ucode = #{ucode,jdbcType=VARCHAR},
			</if>
			<if test="hcode != null">
				hcode = #{hcode,jdbcType=VARCHAR},
			</if>
			<if test="createtime != null">
				createtime = #{createtime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.enjoylearning.event.entity.THotelOrder">
		update t_hotel_order
		set ucode = #{ucode,jdbcType=VARCHAR},
		hcode = #{hcode,jdbcType=VARCHAR},
		createtime = #{createtime,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>